<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
       class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="articleNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by artikel">
      Artikel Nummer
    </th>
    <td mat-cell *matCellDef="let bread"> {{bread.articleNumber}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let bread"> {{bread.name}} </td>
  </ng-container>

  <!-- Order Column -->
  <ng-container matColumnDef="orders">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by orders">
      Bestellen
    </th>

    <td  mat-cell *matCellDef="let bread">
      <div class="table" >
    <form  [formGroup]="orderForm"  >


      <label for="monday">Montag</label>
      <input id="monday" [formControl]="monday" [placeholder]="bread.orders.MON">

      <label for="thuesday">Dienstag</label>
      <input id="thuesday" [formControl]="thuesday" [placeholder]="bread.orders.THU" >

      <label for="wendsday">Mittwoch</label>
      <input id="wendsday" [formControl]="wendsday" [placeholder]="bread.orders.WEN">

      <label for="thursday">Donnerstag</label>
      <input id="thursday" [formControl]="thursday" [placeholder]="bread.orders.TUE">

      <label for="friday">Freitag</label>
      <input id="friday" [formControl]="friday" >

      <label for="saturday">Samstag</label>
      <input id="saturday" [formControl]="saturday" [placeholder]="bread.orders.SAT" >
      <button type="submit" (click)="updateBread(bread)" >Update</button>
    </form>

      </div>
    </td>


  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
      Gewicht
    </th>
    <td mat-cell *matCellDef="let bread"> {{bread.weight}} g </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="picture">
    <th mat-header-cell *matHeaderCellDef mat-sort-header ="Sort by bild">
      Bild
    </th>
    <td mat-cell *matCellDef="let bread"><img src="{{bread.picture}}" height="60px" width="80px"> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>




